# Gitignore settings for ESPHome

# ingore below from root
/.esphome/
/secrets.yaml
/workspace
/fonts
/.ssh/
/esphome-lg-controller-local/
/esphome-lg-controller-local-backup/

# ignore below anywhere deeper in the subfolders
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
